h1 {
    background-color: gray;
    font-size: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

img {
    height: auto;
    width: 200px;
}

ul {
    background-color: rgb(125, 23, 120);
}

ul a {
    background-color: darkcyan;
    color: yellowgreen;
}

h2,
h3 {
    color: red;
}

ol li {
    font-weight: bold;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}